.Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.h1-login-register {
    margin-bottom: 20px;
}

.container-login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    background: white;
    padding: 100px;
    border-radius: 25px;
}

.form-login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-login-register > input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px;
  }

  .form-login-register > input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: solid 1px;
  }

.form-login-register > input[type=submit] {
    padding: 15px 30px;
    background: rgba(98, 255, 98, 0.80);
    border: none;
    border-radius: 10px;
    color: white;
    transition: all 200ms ease-in-out;
    width: 100%;
}

.form-login-register > input[type=submit]:hover {
    background: rgba(98, 255, 98, 1);
    cursor: pointer;
}

.container-click-here {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: row;
    margin: 10px 0;
    gap: 5px;
}

.container-click-here > a {
    text-decoration: none;
    color: rgb(98, 255, 98);
}