.productPageBackButton {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    color: black;
    text-decoration: underline;
  }
  
  .productPageBackButton:hover {
    cursor: pointer;
  }